# build
build/
build-*/
platforms/esp32/build*/
platforms/esp32s3/build*/
*.o
*.a

# generated target artifacts
output/

# ESP-IDF generated config
platforms/esp32/sdkconfig
platforms/esp32s3/sdkconfig
